header {
    background-color: rgba(21, 74, 26, .9);
}

h2 {
    background-color: rgba(154, 129, 89, 0.941);
    color: rgba(32, 78, 194, 0.929);
}

h3 {
    background-color: rgb(226, 212, 107);
    color: rgb(56, 85, 33);
}

.info {
    text-align: center;
    background-color: blanchedalmond;
}
